@font-face {
	font-family: 'iconfonts';
	src:url('../../../images/iconfonts/iconfonts.eot?-sclaym');
	src:url('../../../images/iconfonts/iconfonts.eot?#iefix-sclaym') format('embedded-opentype'),
		url('../../../images/iconfonts/iconfonts.woff?-sclaym') format('woff'),
		url('../../../images/iconfonts/iconfonts.ttf?-sclaym') format('truetype'),
		url('../../../images/iconfonts/iconfonts.svg?-sclaym#iconfonts') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconfonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* If logos are used in the navbar, make them smaller */
.navbar [class^="icon-"],
.navbar [class*=" icon-"],
.navbar-inverse [class^="icon-"],
.navbar-inverse [class*=" icon-"] {
	font-size: 16px;
}

.icon-Babesk:before {
	content: "\e601";
}
.icon-Kuwasys:before {
	content: "\e602";
}
.icon-Schbas:before {
	content: "\e603";
}
.icon-PVau:before {
	content: "\e604";
}
.icon-Fits:before {
	content: "\e605";
}
.icon-Messages:before {
	content: "\e606";
}
.icon-error:before {
	content: "\e600";
}
.icon-darthvader:before {
	content: "\e608";
}
.icon-plus:before {
	content: "\e609";
}
.icon-minus:before {
	content: "\e60a";
}
.icon-Settings:before {
	content: "\e607";
}