####
#author: Pascal Ernst
#pascal.cc.ernst@googlemail.com
#
#Feel free to add and commit any other options
####

#Eclipse-specific settings#
###########################
.buildpath
.project
.settings

#NetBeans-specific settings#
############################
/nbproject/private/
/nbproject/

#OS-specific files we do not want#
##################################
.directory

#third-party-librarys of the project,#
#generating runtime-based files      #
######################################
templates_c
/code/smarty/templates_c_default/
/code/smarty/configs/
.sublime-project