table#open-class-table td.open-class-selector span.label {
	display: block;
	width: 100%;
	line-height: 20px;
	margin-bottom: 2px;
	transition: 0.3s;
}

table#open-class-table td.open-class-selector button.apply-button {
	display: block;
	width: 100%;
}