/* Custom container */

/* Replaced with normal container and standard footer */
/*.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }
*/

/* Replaced with standard BS3 Navbar */
/*.navbar .nav {
  float: right; }*/

#wrap {
  min-height: 50%;
}

.program-title {
  margin-bottom: 20px;
  text-align: center;
}

#navigation {
  background: #666;
  color: #BFBBBB;
  border: none;
  border-bottom: 10px solid #AD3;
  border-radius: 0;
  margin-bottom: 0;
}

#navigation.navbar-inverse .navbar-brand {
  color: #EEEEEE;
}

#navigation.navbar-inverse .navbar-nav > li > p,
#navigation.navbar-inverse .navbar-nav > li > a {
  color: #EEEEEE;
}

#navigation.navbar-inverse .navbar-brand:hover {
  color: #FFFFFF;
}

#navigation.navbar-inverse .navbar-nav > li > a:hover {
  color: #FFFFFF;
}

#navigation .navbar-nav .active > a {
  background-color: #595757;
}

#navigation.navbar-inverse .navbar-nav > .open > a,
#navigation.navbar-inverse .navbar-nav > .open > a:hover,
#navigation.navbar-inverse .navbar-nav > .open > a:focus {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#666464), to(#515050));
  background-image: -webkit-linear-gradient(top, #666464, 0%, #515050, 100%);
  background-image: -moz-linear-gradient(top, #666464 0%, #515050 100%);
  background-image: linear-gradient(to bottom, #666464 0%, #515050 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666464', endColorstr='#ff666464', GradientType=0);
  color: #FFFFFF;
}

#navigation.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #EEEEEE;
}

#navigation.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #FFFFFF;
}

#navigation.navbar-inverse .dropdown-menu > li > p {
  margin: 0;
  padding: 3px 20px;
  white-space: nowrap;
}

#navigation .highlighted {
  color: #AADD33;
}

.page-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
  background-color: #AADD33;
  box-shadow: 0px 0px 8px #222222;
}

.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-header h1,
.page-header h2,
.page-header h3 {
}

.page-header h4,
.page-header h5 {
  color: #4F6719;
}

.page-header .date {
  text-align: center;
  font-size: 0.9em;
  color: #4F6719;
}

.page-header a {
  border-radius: 5px;
  text-align: center;
  color: #404040;
  padding: 10px;
}

.page-header a:focus {
  text-decoration: none;
}

.page-header a:hover i.fa {
  text-decoration: none;
  text-shadow: 1px 1px 0px #5F7729;
  /* Should overwrite active color, so make it important*/
  color: #E53542 !important;
  transition-property: color;
  transition-duration: 0.2s;
}

.page-header a.active i.fa {
  color: #F95C67;
  text-shadow: 1px 1px 0px #5F7729;
}

.page-header a:hover {
  text-decoration: none;
}

.page-header .fa {
  font-size: 64px;
}

#content {
  /*border: 1px solid #33dea2;*/
  background-color: #FEFFCC;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  margin-top: 5px;
  box-shadow: 0px 0px 8px #222222;
  min-height: 450px;
}

#content > h2, h3 {
  text-align: center;
}

#content-footer-conn {
  position: relative;
  top: -50px;
  z-index: -1;
  height: 50px;
  background-color: #666464;
  border-top: 10px solid #AADD33;
}

#footer {
  background-color: #666464;
  padding-bottom: 20px;
  min-height: 300px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #3D3D3D;
  margin-top: 5px;
}

#footer a {
  color: #AADD33;
}

/*
 * Set the colors of the twitter-bootstrap-buttons again...
 */
#footer a.btn-default {
  color: #000;
}

#footer a.btn-primary,
#footer a.btn-success,
#footer a.btn-info,
#footer a.btn-warning,
#footer a.btn-danger,
#footer a.btn-link {
  color: #fff;
}

#footer .footer-text {
  position: relative;
  top: -30px;
}

#footer .left-col {
  text-align: left;
}

#footer .center-col {
  text-align: center;
}

#footer .right-col {
  text-align: right;
}

@media (max-width: 768px) {
  #footer .modules,
  #footer .contact,
  #footer .right-col {
    text-align: center;
  }

  #footer .contact,
  #footer .right-col {
    border-top: 1px solid #AAAAAA;
    padding-top: 10px;
  }
}

#footer .footer-heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  min-height: 20px;
}

#footer .help {
  margin-bottom: 2em;
}

a {
  color: #6633DD;
}

a:hover {
  color: #6633DD;
}

hr {
  border-bottom: 1px solid #AD3;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }


.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }