/* COMMON STYLE
--------------------------------------------------------- */
        
body, h1, h2, h3, h4, h5, h6, div, p, table, td, ul, ol, li, dd, dt, dl, blockquote, address, hr, pre {
  margin: 0;     /* no borders */
  padding: 0;
}

/* -- Normal link -- */

a {
  color: #2e6132;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  /*color: #333; */
  text-decoration: underline;
}

a:visited {
  /*color: #333;  */
}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6, a {
  font-family: "Lucida Sans",
               "Lucida Grande",
               Lucida,
               sans-serif;
}



input, select, textarea, .inputbox {
  padding: 3px 5px;
  font-family: Tahoma, 
               Arial,
               Helvetica,
               sans-serif;
  font-size: 100%;
}

ul li {
    padding: 0 0 0 30px;
    list-style: none;
    padding-left: 10px;
    text-indent: -10px;
}

fieldset {
    border: 0px;
}

/* Error Messages */
p.error {
	color: red;
	font-weight: bold; 
}

a #header_link {
    margin: 0 auto;
    margin-top: 20px;
}


/* MAIN LAYOUT DIVS
-------------------------------------------- */

#login {
  width: 500px;
  margin: 0 auto;
  line-height: 200%;
  padding: 25px;
  border: 2px solid #99cc66;

  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;   
}

#login_header {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 75px;    
}

#header {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
    background-color: #f8f187;
    height: 80px;
    margin-bottom: 30px; 
    
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#header a {
  text-decoration: underline;
}

#top {
    width: 750px;
    height: 70px;
    margin: 0 auto;
    color: #2e6132;  
}

#top_left {
    width: 200px;
    padding-top: 10px;
    padding-left: 5px;
    float: left;
}

#top_right {
    width: 200px;
    float: right;
    text-align: right;
    padding-top: 10px;
    padding-right: 5px;
}

#heading {
    font-family: "Times", serif;
    padding-top: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

#headmod_selection {
    width: 750px;
    color: white;
    font-weight: bold;
    background-color: #2e6132;
    text-align: center;
    height: auto;
    overflow: visible;
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin: 0 auto 30px; 
  
  
      -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
      
    z-index: 6;  
}

.headmod_selector {
    font-weight: bold;
    background-color: #2e6132;
    text-align: center;
    line-height: 250%;
    padding: 5px;
    margin: 5px;
	border: 2px solid #99cc66;
  
  
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
      
    z-index: 6; 
	display: inline;
}

#headmod_selector_link {
	display: inline;
	color: orange;
}

#main {
  width: 700px;
  margin: 0 auto;
  line-height: 200%;
  padding: 25px;
  border: 2px solid #99cc66;
  
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#order {
    margin: 10px auto 20px;
}
#order a { 
    display: block; 
    margin-bottom: 5px; 
    text-align: center; 
    width: 16ex;
    border-style: ridge; 
    border-width: 3px; 
    padding:2px; 
    text-decoration: none; 
}

#order a:link, a:visited { 
    color: #2e6132; 
    background-color: transparent; 
}

#order a:hover, a:active { 
    color: #2e6132; 
    background-color: #f8f187;
}

#info {
    width: 750px;
    color: white;
    font-weight: bold;
    background-color: #2e6132;
    text-align: center;
    height: 30px;
    overflow: visible;
    padding-top: 10px; 
    margin: 0 auto 30px; 
  
  
      -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
      
    z-index: 6;  
}

#info p {
	width:400px; 
	left:0; 
	right:0;
	margin-left:auto; 
	margin-right:auto; 
	
}

#info a {
    display:inline;
}

#last_login {
    margin-top: 30px;
    font-size: 90%;    
}

#footer {
    margin-top: 30px;
    font-size: 80%;
    text-align: center;
}

#background {
	
	background-size:100% auto;
	margin:0px;
	padding: 0px;
    left: 0px; 
    top: 0px; 
    z-index: 0;
}
.stretch {
    width:100%;
    height:100%;
}

#account {
	width: 200px;
    padding-top: 10px;
    float: left;
	  background-color: #f8f187;
    height: 55px;
    padding-left: 15px; 
    
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    z-index: 7;
    overflow:visible;
}

