/* COMMON STYLE
--------------------------------------------------------- */

/* Clearfix */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,600,700);

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* End Clearfix */

body {
	background-color: #ffffff;
	margin: 0;     /* no borders */
	padding: 0;
}

h1, h2, h3, h4, h5, h6, div, p, table, td, ul, ol, li, dd, dt, dl, blockquote, address, hr, pre {
	margin: 0;     /* no borders */
	padding: 0;
	background-color: transparent;
}

button p{
	background-color: black;
}

/* -- Normal link -- */

a {
	color: #2e6132;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	/*color: #333; */
	text-decoration: underline;
}

a:visited {
	/*color: #333;  */
}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6, a {
	font-family: "Ubuntu",
		"Lucida Sans",
		"Lucida Grande",
		Lucida,
		sans-serif;
}



input, select, textarea, .inputbox {
	padding: 3px 5px;
	font-family: "Ubuntu",
		Tahoma,
		Arial,
		Helvetica,
		sans-serif;
	font-size: 100%;
}

ul li {
		padding: 0 0 0 30px;
		list-style: none;
		padding-left: 10px;
		text-indent: -10px;
}

fieldset {
		border: 0px;
}

/* Error Messages */
p.error {
	color: red;
	font-weight: bold;
}

a #header_link {
		margin: 0 auto;
		margin-top: 20px;
}


/* MAIN LAYOUT DIVS
-------------------------------------------- */

#login {
	width: 500px;
	margin: 0 auto;
	line-height: 200%;
	padding: 25px;
	border: 2px solid #99cc66;

	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#login_header {
		text-align: center;
		padding-top: 10px;
		margin-bottom: 75px;
}

#header {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f8f187;
	height: 80px;
	margin-bottom: 30px;

	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#header a {
	text-decoration: underline;
}

#top {
		width: 750px;
		height: 70px;
		margin: 0 auto;
		color: #2e6132;
}

#top_left {
		width: 200px;
		padding-top: 10px;
		padding-left: 5px;
		float: left;
}

#top_right {
		width: 200px;
		float: right;
		text-align: right;
		padding-top: 10px;
		padding-right: 5px;
}

#heading {
		font-family: "Times", serif;
		padding-top: 16px;
		text-align: center;
		font-weight: bold;
		font-size: 120%;
}

#headmod_selection {
	border: 1px solid #999999;
	width: 750px;
	font-weight: 700;
	color: #2C6700;
	background-color: #E5E4D7;
	text-align: center;
	height: auto;
	overflow: visible;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto 30px;


	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.headmodule {
	float: left;
	width: 350px;
	font-weight: 700;
	text-align: center;
	line-height: 150%;
	padding: 5px;
	margin: 5px;
	border: 1px solid #999999;

	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background: #b6e026;
	background: -moz-linear-gradient(top,  #b6e026 0%, #abdc28 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e026), color-stop(100%,#abdc28));
	background: -webkit-linear-gradient(top,  #b6e026 0%,#abdc28 100%);
	background: -o-linear-gradient(top,  #b6e026 0%,#abdc28 100%);
	background: -ms-linear-gradient(top,  #b6e026 0%,#abdc28 100%);
	background: linear-gradient(to bottom,  #b6e026 0%,#abdc28 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 );




	z-index: 6;
	display: inline;
}

div.headmodule:hover {
	background: #dbea56;
	background: -moz-linear-gradient(top,  #dbea56 0%, #bae939 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbea56), color-stop(100%,#bae939));
	background: -webkit-linear-gradient(top,  #dbea56 0%,#bae939 100%);
	background: -o-linear-gradient(top,  #dbea56 0%,#bae939 100%);
	background: -ms-linear-gradient(top,  #dbea56 0%,#bae939 100%);
	background: linear-gradient(to bottom,  #dbea56 0%,#bae939 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbea56', endColorstr='#bae939',GradientType=0 );

	border-color: #BBBBBB;
	color: #2C6700;
}

#headmod_selection a {
	display: inline;
	color:  #2C6700;
}

div.classDescription {

	padding: 5px;
	border-style: dashed;
	border-width: 2px;
	border-color: #2e6132;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
}

#main {
	width: 700px;
	margin: 0 auto;
	line-height: 200%;
	padding: 25px;
	border: 2px solid #99cc66;

	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#order {
		margin: 10px auto 20px;
}
#order a {
		display: block;
		margin-bottom: 5px;
		text-align: center;
		width: 16ex;
		border-style: ridge;
		border-width: 3px;
		padding:2px;
		text-decoration: none;
}

#order a:link, a:visited {
		color: #2e6132;
		background-color: transparent;
}

#order a:hover, a:active {
		color: #2e6132;
		background-color: #f8f187;
}

#info {
		width: 750px;
		color: white;
		font-weight: bold;
		background-color: #2e6132;
		text-align: center;
		height: 30px;
		overflow: visible;
		padding-top: 10px;
		margin: 0 auto 30px;


			-webkit-border-radius: 20px;
		-khtml-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;

		z-index: 6;
}

#info p {
	width:400px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;

}

#info a {
		display:inline;
}

#footer {
	margin-top: 30px;
	padding: 20px;
	font-size: 80%;
	text-align: center;
}

#last_login {
		margin-top: 30px;
		font-size: 90%;
}


#background {

	background-size:100% auto;
	margin:0px;
	padding: 0px;
		left: 0px;
		top: 0px;
		z-index: 0;
}
.stretch {
		width:100%;
		height:100%;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	height:100%;
}

#account {
	width: 200px;
	padding-top: 10px;
	float: left;
	background-color: #f8f187;
	height: 55px;
	padding-left: 15px;

	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	z-index: 7;
	overflow:visible;
	position:absolute;

}

.dataTable {
	width:100%;
}

table.dataTable * {
	line-height: 1,5em;
}

table.dataTable tr * {
	text-align: center;
	padding: 0 5px;
}

table.dataTable tr th {
	background-color:#33CCFF;
}

table.dataTable tr td {
	background-color:#FFCC33;
}

div.popup {

	position:fixed;
	border: 2px solid #005506;
	width: 780px;
	margin: 0 auto;
	padding: 10px;
	top:100px;
	left:50%;
	margin-left: -400px;/*to center, half the width*/
	display: none;
	z-index: 2;
	background-color: #f6ff00;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

div.quotebox, p.quotebox {

	border-left: 4px solid #005506;
	margin: 5px 5px 5px 5px;
	padding: 5px;
	background-color: #EEEEEE;
	border-radius: 10px;
}
