#selector-container .class-container .panel-heading .panel-title {
	line-height: 30px;
}

#selector-container .class-container .label {
	position: relative;
	top: -2px;
	line-height: 30px;
}

#selector-container .unit-panel .label {
	line-height: 20px;
}