ul.other-classes-container {
	margin: 0;
	padding: 0;
}

ul.other-classes-container li {
	list-style-type: none;
}

.ui-autocomplete {
	z-index: 1151 !important;
}

@media (min-width: 768px) {
	td.user-actions {
		min-width: 160px;
	}
}