body {
	margin:0 auto;
	width: 700px; 
	padding:0px;
	text-align:center;
}

.header {
	width: 500px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px dashed #333;
}

.main {
	width: 500px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	border: 3px groove rgb(100,200,0);
	line-height: 200%;
}

.notice {
	width:500px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border: 2px solid aqua; 
}
.error {
	width:500px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid fuchsia; 
}