@import url('open_sans.css');

body {
	background-color: #F3F3F3;
}

hr {
	border-top: 1px solid #BBBBBB;
}

.module-header {
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 10px;
	color: #777777;
	text-shadow: 1px 1px #fff;
	/*background-color: #AADD33;*/
	/*border-bottom: 2px solid #AADD33;*/
}

.module_breadcrumb.breadcrumb {
	background-color: #494949;
	/*width: 100%;*/
	margin: 0;
	padding: 5px;
	border-radius: 0;
	color: #CCC;
	font-size: 80%;
	border-bottom: 1px solid #111;
}

.module_breadcrumb.breadcrumb > li + li:before {
	color: #888;
	padding: 0 0 0 2px;
}

.module_breadcrumb a {
	color: #AAE;
}

#body-wrapper.show-sidebar > #main_wrapper > .container {
	width: auto;
}

@media (min-width: 1018px) {
	#body-wrapper.show-sidebar > #main_wrapper > .container {
		width: 750px;
	}
}
@media (min-width: 1242px) {
	#body-wrapper.show-sidebar > #main_wrapper > .container {
		width: 970px;
	}
}
@media (min-width: 1450px) {
	#body-wrapper.show-sidebar > #main_wrapper > .container {
		width: 1170px;
	}
}

#navigation {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#AADD33), to(#91BD2B));
	background-image: -webkit-linear-gradient(top, #AADD33 0%, #91BD2B, 100%);
	background-image: -moz-linear-gradient(top, #AADD33 0%, #91BD2B 100%);
	background-image: linear-gradient(to bottom, #AADD33 0%, #91BD2B 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffAADD33', endColorstr='#ff91BD2B', GradientType=0);
	border-bottom: 1px solid #151515;
	padding-right: 20px;
}

#navigation.navbar-default .navbar-brand,
#navigation.navbar-default .navbar-nav > li > a {
	color: #222;
}

#navigation.navbar-default .navbar-brand:hover,
#navigation.navbar-default .navbar-nav > li > a:hover {
	color: #666;
}

#navigation .navbar-nav .active > a {
	background-color: #595757;
}

#navigation.navbar-default .navbar-nav > .open > a,
#navigation.navbar-default .navbar-nav > .open > a:hover,
#navigation.navbar-default .navbar-nav > .open > a:focus {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#AADD33), to(#91BD2B));
	background-image: -webkit-linear-gradient(top, #AADD33 0%, #91BD2B, 100%);
	background-image: -moz-linear-gradient(top, #AADD33 0%, #91BD2B 100%);
	background-image: linear-gradient(to bottom, #AADD33 0%, #91BD2B 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffAADD33', endColorstr='#ff91BD2B', GradientType=0);
}

#navigation.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #EEEEEE;
}

#navigation.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #FFFFFF;
}

#navigation.navbar-inverse .dropdown-menu > li > p {
	margin: 0;
	padding: 3px 20px;
	white-space: nowrap;
}

#navigation .highlighted {
	color: #AADD33;
}

#dropdown-user {
	background-color: #6C6A6A;
	border: none;
}

#body-wrapper {
	padding-left: 0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#body-wrapper.show-sidebar {
	padding-left: 250px;
}

.sidebar {
	position: fixed;
	margin-left: -250px;
	left: 250px;
	width: 0;
	top: 50px;
	bottom: 0;
	padding: 0;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	background-color: #333;
	border-right: 1px solid #151515;
	box-shadow: 2px 0px 2px #666;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#body-wrapper.show-sidebar .sidebar {
	width: 250px;
}

button.sidebar-toggle {
	position: fixed;
	top: 50px;
	left: 0px;
	padding: 0;
	margin: 0 !important;
	color: #EEE;
	background-color: #555;
	font-size: 16px;
	font-weight: normal;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	border: 1px solid #000;
	border-left: none;
	border-bottom-right-radius: 10px;
	height: 26px;
	line-height: 26px;
	width: 30px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#body-wrapper.show-sidebar button.sidebar-toggle {
	left: 250px;
}

button.sidebar-toggle span {
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#body-wrapper.show-sidebar button.sidebar-toggle span {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	transition: all .3s ease-in-out;
}

button.sidebar-toggle:hover span {
	color: #fd3;
}

#sidebar-module-selection {
}

#sidebar-module-selection li {
	background-color: #333;
	text-shadow: 2px 2px 2px #111;
}

#sidebar-module-selection .nav > li > a {
	padding-right: 5px;
	padding-left: 5px;
}

#sidebar-module-selection li > ul > li {
	background-color: #3A3A3A;
}

#sidebar-module-selection li > ul > li > ul > li {
	background-color: #444;
}

#sidebar-module-selection .nav>li>a:hover,
#sidebar-module-selection .nav>li>a:focus {
	background-color: transparent;
	background: transparent;
	color: #fd3;
	transition-property: color;
	transition-duration: 0.1s;
}

#sidebar-module-selection a {
	color: #AADD33;
	width: 100%;
	line-height: 20px;
	word-wrap: break-word;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#sidebar-module-selection a .toggle-icon {
	line-height: 20px;
	font-size: 10px;
}

#sidebar-module-selection .spacer {
	height: 40px;
}

#sidebar-module-selection .text-icon-spacer {
	padding: 0;
}

#sidebar-module-selection .text-icon-spacer span {
	padding: 0;
}

#main_wrapper {
	/*position: relative;*/
	margin-top: 60px;
	padding: 2px;
	width: 100%;
}

#body-wrapper.show-sidebar #main_wrapper {
	position: : absolute;
	margin-right: -250px;
}


#content > h2, h3 {
	text-align: center;
}

.error-container .panel-title,
.message-container .panel-title,
.success-container .panel-title {
	text-align: center;
	line-height: 32px;
}

.error-container .icon-container,
.message-container .icon-container,
.success-container .icon-container {
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.error-container [class^="icon-"],
.error-container [class*=" icon-"] {
	color: #b94a48;
}

.error-container .btn,
.message-container .btn,
.success-container .btn {
	margin-top: 20px;
}

div.quotebox, p.quotebox {

	border-left: 4px solid #AADD33;
	padding: 5px;
	background-color: #EEEEEE;
}

.panel.bg-fit {
	background-color: #F5F5D1;
}

.panel-primary {
	border-color: #AADD33;
}

.panel-primary > .panel-heading {
	background-image: none;
	background-color: #AADD33;
	border-color: #AADD33;
}

.panel-primary > .panel-heading > .panel-title {
	/*font-weight: bold;*/
	color: #76DBBB;
}

.panel-dashboard {
	border-color: #33DDAA;
}

.panel-dashboard > .panel-heading {
	background-image: none;
	background-color: #76DBBB;
	border-color: #CCC;
	padding: 0;
}

.panel-dashboard > .panel-heading > .panel-title {
	/*font-weight: bold;*/
	color: #176049;
}

.class-container h4.panel-title {
	display: inline;
}

.expand-button-content {
	font-size: 12px;
	margin-right: 5px;
}

#selector-container .submit-button {
	margin-right: 10px;
}

.input-group .icon {
	color: #888888;
	font-size: 16px;
}

.input-group label {
	color: #666666;
	font-size: 14px;
}

.form-group label {
	padding-right: 15px;
	color: #444444;
}

fieldset {
	padding: 5px;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	margin-bottom: 10px;
}

fieldset > legend {
	display: inline;
	font-size: 14px;
	color: #777777;
	margin-bottom: 0;
	padding: 0 5px;
	width: auto;
	border: none;
}

label.valid {
	width: 24px;
	height: 24px;
	background: url(assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

a.label:hover {
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.15s;
	color: #AADD33;
}

.pagination {
	margin: 0;
}

ul.submodulelinkList li {
	list-style: none;
	font-size: 18px;
	line-height: 1.3em;
	padding: 10px 0;
}

ul.submodulelinkList li a {
	color: #333;
}

ul.submodulelinkList li a:hover {
	color: #77AA22;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.15s;
}

.panel-title {
	text-align: center;
	line-height: 32px;
}

.panel-title h3 {
	line-height: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #E8FFB3;
}

/* Autocomplete should be over the bootstrap-modals */
ul.ui-autocomplete {
	z-index: 1151 !important;
}

/* When modal opens, dont margin for the scrollbar - its uglier moving the whole site to the left than the scrollbar covering some of it */
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
	margin-right: 0px;
}

/*
 * Just a dark button, as an alternative to the other bootstrap-buttons
 */
.btn-dark {
	color: #eee;
	background-color: #555;
	border-color: #333;
}

.input-group .btn-dark .icon {
	color: #eee;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
	color: #eee;
	background-color: #777;
	border-color: #555;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
	background-image: none;
}

/*
 * Override multiselection-stuff for better looks
 */

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #A1DDE6;
	background-image: none;
}

/**
 * Make third-party React-Widgets use the same bg as bootstrap does
 */
.rw-widget .rw-input {
	background-color: #FFF;
}

/*********************
 * Custom checkboxes *
 *********************/

/*
 * Fancy checkbox
 */

/*Move he original checkbox out of the way */
[type="checkbox"].fancy-check {
  position: absolute;
  left: -9999px;
}
/*Align the icon and the label text to same height using tabl-cell display*/
/*If you change the font-size of the text, you may also want to do som padding or alignhment changes here*/
.fancy-check ~ label >  span {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}
/*The label will contain the icon and the text, will grab the focus*/
[type="checkbox"].fancy-check + label {
  cursor: pointer;
  display: table;
}
/*The icon container, set it to fixed size and font size, the padding is to align the border*/
/*If you change the font-size of this icon, be sure to adjust the min-width as well*/
[type="checkbox"].fancy-check + label:before {
  font-family: 'FontAwesome';
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-size: 22px;
  min-width: 28px;
  padding: 2px 0 0 3px;
}
/* toggle font awsome icon*/
[type="checkbox"].fancy-check:checked + label:before {
  content: "\f046";
}
[type="checkbox"].fancy-check:not(:checked) + label:before {
  content: "\f096";
}
/*Do something on focus, in this case show dashed border*/
[type="checkbox"].fancy-check:focus + label:before {
  border: 1px dashed #777;
}
/*Do something on hover, in this case change the image color*/
[type="checkbox"].fancy-check:hover + label:before {
   color: #AD3;
}

/*
 * Toggling Checkbox
 */

[type="checkbox"].toggle-check:not(:checked),
[type="checkbox"].toggle-check:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"].toggle-check:not(:checked) + label,
[type="checkbox"].toggle-check:checked + label {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
}
[type="checkbox"].toggle-check:not(:checked) + label:before,
[type="checkbox"].toggle-check:checked + label:before,
[type="checkbox"].toggle-check:not(:checked) + label:after,
[type="checkbox"].toggle-check:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"].toggle-check:not(:checked) + label:before,
[type="checkbox"].toggle-check:checked + label:before {
  left:0; top: -3px;
  width: 65px; height: 30px;
  background: #DDDDDD;
  border-radius: 15px;
  transition: background-color .2s;
}
[type="checkbox"].toggle-check:not(:checked) + label:after,
[type="checkbox"].toggle-check:checked + label:after {
  width: 20px; height: 20px;
  transition: all .2s;
  border-radius: 50%;
  background: #7F8C9A;
  top: 2px; left: 5px;
}

/* on checked */
[type="checkbox"].toggle-check:checked + label:before {
  background:#AD3;
}
[type="checkbox"].toggle-check:checked + label:after {
  background: #E53542;
  top: 2px; left: 40px;
}

[type="checkbox"].toggle-check:checked + label .ui,
[type="checkbox"].toggle-check:not(:checked) + label .ui:before,
[type="checkbox"].toggle-check:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  transition: all .2s;
}
[type="checkbox"].toggle-check:not(:checked) + label .ui:before {
  content: "nein";
  left: 32px
}
[type="checkbox"].toggle-check:checked + label .ui:after {
  content: "ja";
  color: #E53542;
}
[type="checkbox"].toggle-check:focus + label:before {
  border: 1px dashed #777;
  box-sizing: border-box;
  margin-top: -1px;
}

/********************************
 * Custom Iconnames for modules *
 ********************************/


.fa-Schbas:before {
	content: "\f02d";
}
.fa-Messages:before {
	content: "\f0e0";
}
.fa-PVau:before {
	content: "\f017";
}
.fa-Fits:before {
	content: "\f108";
}
.fa-Babesk:before {
	content: "\f0f5";
}
.fa-Kuwasys:before {
	content: "\f1e3";
}
.fa-Elawa:before {
	content: "\f073";
}
.fa-Statistics:before {
	content: "\f080";
}
.fa-Gnissel:before {
	content: "\f1ae";
}
.fa-System:before {
	content: "\f187";
}