@import url('open_sans.css');

.program_title {
	margin-bottom: 20px;
	text-align: center;
}

#navigation {
	background: #666;
	color: #BFBBBB;
	border: none;
	border-bottom: 10px solid #AD3;
	border-radius: 0;
}

#navigation.navbar-inverse .navbar-brand {
	color: #EEEEEE;
}

#navigation.navbar-inverse .navbar-nav > li > p,
#navigation.navbar-inverse .navbar-nav > li > a {
	color: #EEEEEE;
}

#navigation.navbar-inverse .navbar-brand:hover {
	color: #FFFFFF;
}

#navigation.navbar-inverse .navbar-nav > li > a:hover {
	color: #FFFFFF;
}

#navigation .navbar-nav .active > a {
	background-color: #595757;
}

#navigation.navbar-inverse .navbar-nav > .open > a,
#navigation.navbar-inverse .navbar-nav > .open > a:hover,
#navigation.navbar-inverse .navbar-nav > .open > a:focus {
	background: #4D4D4D;
	color: #FFFFFF;
}

#navigation.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #EEEEEE;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

#navigation.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
#navigation.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #FFFFFF;
	background: #444;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

#navigation.navbar-inverse .dropdown-menu > li > p {
	margin: 0;
	padding: 3px 20px;
	white-space: nowrap;
}

#navigation .highlighted {
	color: #AADD33;
}

#dropdown-user {
	background-color: #666464;
	border: none;
}

#module_selector {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 10px 0;
	background-color: #AADD33;
	box-shadow: 0px 0px 8px #222222;
}

#module_selector a {
	border-radius: 5px;
	text-align: center;
	color: #404040;
	padding: 10px;
}

#module_selector a:focus {
	text-decoration: none;
}

#module_selector a:hover i.fa {
	text-decoration: none;
	text-shadow: 1px 1px 0px #5F7729;
	/* Should overwrite active color, so make it important*/
	color: #E53542 !important;
	transition-property: color;
	transition-duration: 0.2s;
}

#module_selector a.active i.fa {
	color: #F95C67;
	text-shadow: 1px 1px 0px #5F7729;
}

#module_selector a:hover {
	text-decoration: none;
}

#module_selector .fa {
	font-size: 64px;
}

#content {
	/*border: 1px solid #33dea2;*/
	background-color: #FEFFCC;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 20px;
	margin-top: 5px;
	box-shadow: 0px 0px 8px #222222;
	min-height: 450px;
}

#content > h2, h3 {
	text-align: center;
}

.error-container .panel-title,
.message-container .panel-title,
.success-container .panel-title {
	text-align: center;
	line-height: 32px;
}

.error-container .icon-container,
.message-container .icon-container,
.success-container .icon-container {
	font-size: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.error-container [class^="fa-"],
.error-container [class*=" fa-"] {
	color: #b94a48;
}

.error-container .btn,
.message-container .btn,
.success-container .btn {
	margin-top: 20px;
}

#content_footer_conn {
	position: relative;
	top: -50px;
	z-index: -1;
	height: 50px;
	background-color: #666464;
	border-top: 10px solid #AADD33;
}

#footer {
	background-color: #666464;
	padding-bottom: 20px;
	min-height: 400px;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #3D3D3D;
	margin-top: 5px;
}

#footer a {
	color: #AADD33;
}

/*
 * Set the colors of the twitter-bootstrap-buttons again...
 */
#footer a.btn-default {
	color: #000;
}

#footer a.btn-primary,
#footer a.btn-success,
#footer a.btn-info,
#footer a.btn-warning,
#footer a.btn-danger,
#footer a.btn-link {
	color: #fff;
}

#footer .footer-text {
	position: relative;
	top: -30px;
}

#footer .modules {
	text-align: left;
}

#footer .contact {
	text-align: center;
}

#footer .right-col {
	text-align: right;
}

@media (max-width: 768px) {
	#footer .modules,
	#footer .contact,
	#footer .right-col {
		text-align: center;
	}

	#footer .contact,
	#footer .right-col {
		border-top: 1px solid #AAAAAA;
		padding-top: 10px;
	}
}

#footer .footer-heading {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 16px;
	min-height: 20px;
}

#footer .help {
	margin-bottom: 2em;
}


div.quotebox, p.quotebox {

	border-left: 4px solid #AADD33;
	padding: 5px;
	background-color: #EEEEEE;
}

.panel.bg-fit {
	background-color: #F5F5D1;
}

.panel-primary {
	border-color: #AADD33;
}

.panel-primary > .panel-heading {
	background-image: none;
	background-color: #AADD33;
	border-color: #AADD33;
}

.panel-primary > .panel-heading > .panel-title {
	/*font-weight: bold;*/
	color: #455912;
}

.class-container h4.panel-title {
	display: inline;
}

.expand-button-content {
	font-size: 12px;
	margin-right: 5px;
}

#selector-container .submit-button {
	margin-right: 10px;
}

.nav-pills > li > a {
	background-color: #FFFFFF;
	color: #333333;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #AADD33;
	color: #333333;
}

fieldset {
	padding: 5px;
	border: 1px solid #AADD33;
	border-radius: 3px;
	margin-bottom: 10px;
}

fieldset > legend {
	display: inline;
	font-size: 14px;
	color: #3E5113;
	margin-bottom: 0;
	padding: 0 5px;
	width: auto;
	border: none;
}

/*If using bootstrap-tables, make sure it looks okay*/
table.table th,
table.table td {
	background-color: #FFFFFF;
}

.fa-Schbas:before {
	content: "\f02d";
}
.fa-Messages:before {
	content: "\f0e0";
}
.fa-PVau:before {
	content: "\f017";
}
.fa-Fits:before {
	content: "\f108";
}
.fa-Babesk:before {
	content: "\f0f5";
}
.fa-Kuwasys:before {
	content: "\f1e3";
}
.fa-Elawa:before {
	content: "\f073";
}