#login {
	width: 500px;
	margin: 0 auto;
	line-height: 200%;
	padding: 25px;
	border: 2px solid #006699;

	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#login_header {
		text-align: center;
		font-size: 130%;
		font-weight: bold;
		padding-top: 10px;
		margin-bottom: 75px;
}

#footer {
		margin-top: 30px;
		font-size: 80%;
		text-align: center;
}