/* COMMON STYLE
--------------------------------------------------------- */

body, h1, h2, h3, h4, h5, h6, div, p, table, td, ul, ol, li, dd, dt, dl, blockquote, address, hr, pre {
	margin: 0;     /* no borders */
	padding: 0;
}


/* Clearfix */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/* End Clearfix */

body {
	background: #ffffff;
}

body * {
	font-family: "Lucida Sans",
		"Lucida Grande",
		Lucida,
		sans-serif;
}

a {
	color: #006699;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
}



p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Sans",
		"Lucida Grande",
		Lucida,
		sans-serif;
}

.moduleHeader {
	color: #2e6132;
	text-align: center;
	padding-bottom: 20px;
}

input, select, textarea, .inputbox {
  padding: 3px 5px;
  font-family: Tahoma,
               Arial,
               Helvetica,
               sans-serif;
  font-size: 100%;
}

div.inputItem,
input.inputItem,
select.inputItem,
span.inputItem,
p.inputItem,
a.inputItem {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: 10px 0px 10px 50px;
	/*border: 1px solid black;*/
}

form {
	position: relative;
}

fieldset {
		border: 0px;
}

fieldset.blockyField{
	border: 1px solid;
}

.dataTable {
	width:100%;
}
table.dataTable {
	/*line-height: 1.5em;*/
	text-align: center;
	margin: 0;
	padding: 0;
}

table.dataTable tr {
	margin: 0;
	padding: 0;
	margin-right: -5px;
}

table.dataTable tr td,
table.dataTable tr th {
	padding: 5px;
}

table.dataTable tr th {
	background-color:#33CCFF;
}

table.dataTable tr td {
	background: #e6ff82;
}

.dataTable label {
	margin: 10px;
}

.dataTable .tableRowAppendixSpoiler,
.dataTable .tableRowAppendix {
	line-height: 1em;
	margin: 0;
	position: absolute;
	border: 2px solid #444444;
	background: #e6ff82;
	background: -moz-linear-gradient(top,  #e6ff82 0%, #a6c442 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6ff82), color-stop(100%,#a6c442));
	background: -webkit-linear-gradient(top,  #e6ff82 0%,#a6c442 100%);
	background: -o-linear-gradient(top,  #e6ff82 0%,#a6c442 100%);
	background: -ms-linear-gradient(top,  #e6ff82 0%,#a6c442 100%);
	background: linear-gradient(to bottom,  #e6ff82 0%,#a6c442 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ff82', endColorstr='#a6c442',GradientType=0 );

	/*border: 1px solid #777777;*/
	/*border-bottom-right-radius: 20px;*/
	/*border-top-right-radius: 20px;*/
	border-radius: 20px;
}

.dataTable .tableRowAppendix,
.dataTable .tableRowAppendixSpoiler {
	display: table;
}

.dataTable .tableRowAppendix *,
.dataTable .tableRowAppendixSpoiler * {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	vertical-align: middle;
	display: table-cell;
}

.dataTable .tableRowAppendix img {
	margin-left: 15px;
	margin-right: 15px;
}

/* Error Messages */
p.error {
	color: red;
	font-weight: bold;
}

/**
 * Changes to the Jquery-UI-CSS for better integration into our "design"
 */

.ui-widget {
	font-family: "Lucida Sans",
		"Lucida Grande",
		Lucida,
		sans-serif;
	font-size: 1em;
}

.ui-tooltip.ui-widget {
	font-family: "Lucida Sans",
		"Lucida Grande",
		Lucida,
		sans-serif;
	font-size: 0.9em;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 10px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 10px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 10px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 10px;
}

/* MAIN LAYOUT DIVS
-------------------------------------------- */

body {
    color: #000000;
}



#login {
	width: 500px;
	margin: 0 auto;
	line-height: 200%;
	padding: 25px;
	border: 2px solid #006699;

	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#login_header {
		text-align: center;
		font-size: 130%;
		font-weight: bold;
		padding-top: 10px;
		margin-bottom: 75px;
}

#header {
		background-color: #e6e6e6;
		border: 1px solid #333333;
		color: #2e6132;
		margin-bottom: 30px;

		-webkit-border-radius: 20px;
		-khtml-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
}

#top {
		width: 750px;
		margin: 10px auto 0;
		text-align: center;
}

div.filterBar {
	padding: 5px;
	border-style: dashed;
	border-width: 2px;
	border-color: #2e6132;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

h3.filterBar {

	border: 1px solid #444444;
}

#filterBarSubmitButton {
	padding: 15px;
	float: right;
}

#main {
	width: 700px;
	margin: 20px auto 0 auto;
	line-height: 200%;
	padding: 25px;
	border: 2px solid #006699;

	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#footer {
		margin-top: 30px;
		font-size: 80%;
		text-align: center;
}

/**
 * Errors
 */

#errorContainer {
	color: #af2d2b;
	background-color: #ffc0bf;
	background-image: url(../../../../images/status/error_64.png);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	border-radius: 15px;
	margin: 10px auto;
	width: 700px;
	padding: 25px;
	border: 1px solid #af2d2b;
}

#errorContainer ul {
	margin: 0 0 0 70px;
}

#errorContainer p {
	font-weight: 700;
	font-size: 15px;
}

#errorContainer a {
	display: block;
	position: relative;
	float: right;
	top: -20px;
	right: -20px;
	color: #af2d2b;
	font-size: 12px;
}

/**
 * Warnings
 */

#warningContainer {
	color: #686800;
	background-color: #fff878;
	background-image: url(../../../../images/status/warning_64.png);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	border-radius: 15px;
	margin: 10px auto;
	width: 700px;
	padding: 25px;
	border: 1px solid #686800;
}

#warningContainer ul {
	margin: 0 0 0 70px;
}

#warningContainer p {
	font-weight: 700;
	font-size: 15px;
}

#warningContainer a {
	display: block;
	position: relative;
	float: right;
	top: -20px;
	right: -20px;
	color: #686800;
	font-size: 12px;
}

/**
 * Messages
 */

#messageContainer {
	color: #2b67af;
	background: #acd2ff;
	background-image: url(../../../../images/status/information_64.png);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	border-radius: 15px;
	margin: 10px auto;
	width: 700px;
	padding: 25px;
	border: 1px solid #2b67af;
}

#messageContainer ul {
	margin: 0 0 0 70px;
}

#messageContainer a {
	display: block;
	position: relative;
	float: right;
	top: -20px;
	right: -20px;
	color: #2b67af;
	font-size: 12px;
}

/**
 * Success-Messages
 */

#successContainer {
	color: #55832f;
	background: #e0ffc6;
	background-image: url(../../../../images/status/checkmark_64.png);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	border-radius: 15px;
	margin: 10px auto;
	width: 700px;
	padding: 25px;
	border: 1px solid #55832f;
}

#successContainer ul {
	margin: 0 0 0 70px;
}

#successContainer a {
	display: block;
	position: relative;
	float: right;
	top: -20px;
	right: -20px;
	color: #55832f;
	font-size: 12px;
}

div.smallContainer,
span.smallContainer,
p.smallContainer,
fieldset.smallContainer {
	border: 1px solid #c1e1f2;
	border-radius: 5px;
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #555555;
}

/* General
-------------------------------------------- */
#close {
		clear: both;
}

/* Accordion Settings */

.accordion h1,
.accordion h2,
.accordion h3,
.accordion h4,
.accordion h5 {
	font-size: 15px !important;
	font-weight: 700;
	color: #2e6132 !important;
	background: #c1e1f2 !important;
	margin: 2px 0 0 0 !important;
}

.accordion > div,
.accordion > span,
.accordion > p {
	border: 1px solid #c1e1f2 !important;
}

/* CSV-Upload settings */
.csvUpload .errorCount {
	float: right;
	margin-right: 20px;
	color: red;
}

.csvUpload .errorCount.noError {
	color: #2e6132;
}

/* No status given, for Example no File Uploaded */
.csvUpload .errorCount.noAction {
	color: #006699;
}

p.inputError {
	float: right;
}

div.simpleForm {
	display: table-row;
	width: 500px;
}

form.simpleForm label, form.simpleForm {
	display: block;
	margin: 15px 0 15px 0;
}

form.simpleForm fieldset {
	border: 1px solid #2e6132;
	border-radius: 5px;
}

#pageWidthSelector {
	position: absolute;
	float:right;
	top: 0px;
	right: 10px;
	margin: 10px;
}

.blueButtons {
	display: table;
	width: 100%;
}

.blueButtons .ui-button {
	display: table-cell;
	background: #c0e1f8;
	background: -moz-linear-gradient(top,  #c0e1f8 0%, #b4d9f6 40%,
		#a2d0f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0e1f8), color-stop(40%,#b4d9f6), color-stop(100%,#a2d0f4));
	background: -webkit-linear-gradient(top,  #c0e1f8 0%,#b4d9f6 40%,#a2d0f4 100%);
	background: -o-linear-gradient(top,  #c0e1f8 0%,#b4d9f6 40%,#a2d0f4 100%);
	background: -ms-linear-gradient(top,  #c0e1f8 0%,#b4d9f6 40%,#a2d0f4 100%);
	background: linear-gradient(to bottom,  #c0e1f8 0%,#b4d9f6 40%,#a2d0f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0e1f8', endColorstr='#a2d0f4',GradientType=0 );


}

.blueButtons .ui-state-active {
	display: table-cell;
	background: #e9fffd;
	background: -moz-linear-gradient(top,  #e9fffd 0%, #e3fffd 40%, #bbfffd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9fffd), color-stop(40%,#e3fffd), color-stop(100%,#bbfffd));
	background: -webkit-linear-gradient(top,  #e9fffd 0%,#e3fffd 40%,#bbfffd 100%);
	background: -o-linear-gradient(top,  #e9fffd 0%,#e3fffd 40%,#bbfffd 100%);
	background: -ms-linear-gradient(top,  #e9fffd 0%,#e3fffd 40%,#bbfffd 100%);
	background: linear-gradient(to bottom,  #e9fffd 0%,#e3fffd 40%,#bbfffd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9fffd', endColorstr='#bbfffd',GradientType=0 );

}

.pageSelect span.ui-button-text {
	padding: 0 !important;
}

.blueButtons .ui-button.ui-state-hover {
	background: #e3edf2;
	transition: 0.2s;
}

.pageSelect {
	margin: 20px 0 5px 0;
}

.tabs.centered li {
	margin-bottom: 5px;
}
.scrollableCheckboxes {
	border:2px solid #cccccc;
	width: 300px;
	height: 100px !important;
	overflow-y: scroll;
}
